
.logo{background-image: url("h_img.jpg");
    text-align: center;
}

.services{background-image: url("s_image.jpg");
    color: white;
}

.Contactus{background-image: url("c_image.jpg");
    background-size: cover;
}
footer{text-align: center;}

.socials{margin-left: 20%;}

#submit{margin-left: 50%;}