
body{margin: 50px 100px 50px 100px;}

.logo{background-image: url("h_img.jpg");
    text-align: center;
    background-size: cover;
}

.services{background-image: url("s_image.jpg");
    background-size: cover;
    color: white;
}

.Contactus{background-image: url("c_image.jpg");
    background-size: cover;
    color: white;
}
footer{text-align: center;}

.socials{margin-left: 20%;}

#submit{margin-left: 50%;}

#form-group{opacity: 0.2;
    color: white;
}
 .images{display: flex;
    justify-content: center;}

p{text-align: center;
    font-size: small;
}
h1{text-align: center;}
h2{text-align: center;}
h5{text-align: center;}